html {
    box-sizing: border-box;
}
body {
    font-family: 'Work Sans', sans-serif!important;
}
*, *:before, *:after {
    box-sizing: inherit;
}
.login-links > a {
    display: inline-block;
    width: 50%;
    text-align: right;
}
.login-links > a:first-child {
    text-align: left;
}

@media only screen and (min-width: 992px) {
    .registration-form {
        width: 50%!important;
    }
    .registration-wrapper {
        align-items: center!important;
    }
}
.ant-layout-sider-zero-width-trigger {
    background: #fff!important;
    color: #001529!important;
    top: 3px!important;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    z-index: 999;
}
